@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

* {
   font-family: 'Poppins' 
}

body {
    background-image: url(../images/background_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.4rems
}

#wrapper {
    width: 1024px; 
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
/*    background-color: limegreen;*/
/*    min-height: 300px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.card1, .card2, .card3 {
    min-height: 250px;
    width: 30%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.hero-box-one {
    flex: 2;
}

.hero-box-two {
    flex: 1;
    padding-left: 10px;
}

html {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    min-height: 100%;
    background-repeat: no-repeat;
}

.hero-box-two img {
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

h1 {
    font-family: 'Poppins';
    font-size: 3.75rem;
    font-weight: 800;
    
}

.car {
    height: 290px;
}

p {
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.book-button {
    font-weight: 800;
    text-decoration: none;
    color: purple;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px 25px;;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    transition-duration: 2s;
}

.book-button:hover {
    background-color: lightcyan;
}

.nav-button {
    border: 2px solid white;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 800;
    padding: 10px;
    color: white;
    text-shadow: 0px 10x 2px black;
    transition-duration: 1.5s;
}

.nav-button:hover {
    color: rgb(206, 196, 250);
    background-color: white;
}

.cards p {
    font-size: .85rem;
    line-height: 1.2rem;
    margin: 10px 30px 20px 30px;
    color: white;
}

h2 {
    font-weight: 800;
    font-family: 'Poppins';
    font-size: 2rem;
    margin-top: 20px;
}

.card1 {
    background-image: url(../images/2022-mercedes-amg-sl63-carbuzz-940173.jpeg);
    background-size: cover;
    background-position: left;
}

.card2 {
    background-image: url(../images/2021-mercedes-amg-c63-mmp-2-1604525743.jpeg);
    background-size: cover;
    background-position: center;
}

.card3 {
    background-image: url(../images/2020-mercedes-benz-cla250-mmp-1-1637272782.jpeg);
    background-size: cover;
    background-position: bottom;
}

.fa-solid {
    font-size: 4rem;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

/* Tablet View */
@media (max-width: 768px) {
    #wrapper {
        width: 700px;
    }
    
    .card1, .card2, .card3 {
        width: 46%;
        min-height: 150px;
        margin: 10px;
    }
    
    header {
        flex-direction: column;
    }
    
    header img {
        padding: 30px;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    
    .cards p {
        font-size: .75rem;
    }
    
    .book-button {
        font-size: 1rem;
    }
    
/*
    html {
        height: 150%;
    }
*/
}

/* Smartphone view*/

@media (max-width: 480px) {
    #wrapper {
        width: 400px;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
    
    .card1, .card2, .card3 {
        width: 90%;
        min-height: 500px;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    
    .nav-button {
        font-size: 1rem;
        margin-top: 80px;
    }
    
    header img {
        padding: 20px;
    }
    
    .hero-box-two {
        display: none;
    }
    
    body {
        background-image: none;
    }
    
    html {
/*        background-color: #8EC5FC;*/
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        min-height: 100%;
/*    background-repeat: no-repeat;*/
    }
    .hero-box-one {
        text-align: center;
    }

}